{% extends "base.html" %}

{% block content %}

    <div class="books"><h2>Books by {{author.name}}</h2>
        
        <h3>

        </h3>

        <ul id= "book-list">
            
                {% if book.authors.pk == authors.pk %}
                    {% for book in books reversed %}
            
                    <li>
                    {% if book.cover_photo %}
                    <img src="{{ book.cover_photo }}" alt="{{book.title}}"><br>
                    {% endif %}
                    Book Name: {{book.title}}
                    <br>
                    </br>
                    {% for author in book.authors.all %}
                    Author: {{author.name}}
                    {% endfor %}
                    </br>
                    </br>
                    <!-- URL: {{book.url}}  -->
                    URL: <a href={{book.url}}>{{book.url}}</a>
                    </br>
                    </br>
                    Description: {{book.description}}
                    </br>
                    </br>
                    {% for category in book.categories.all %}
                    <a href = "{% url 'show_categories' slug=category.slug %}">{{category.name}}</a>
                    {% endfor %}
                    </br>
                    </br>
                    Book Added: {{book.created_at}}
                    <br>
                    <br>
                    </br>
                    </br>
                    </li>
                    {% endfor %}
                {% endif %}
            
            
        </ul>
    </div>
    {% endblock %}