{% extends "base.html" %}

{% block content %}

    <div class="books"><h2>BOOKS</h2>
        
        <h3>

        </h3>

        <ul id= "book-list">
            {% for book in books reversed %}
                <li>
                {% if book.cover_photo %}
                <img src="{{ book.cover_photo }}" alt="{{book.title}}"><br>
                {% endif %}

                Book Name: {{book.title}}
                <br>
                </br>
                {% for author in book.authors.all %}
                Author: <a href = "{% url 'books_for_author' pk=author.pk %}">{{author.name}}</a>
                {% endfor %}
                </br>
                </br>
                URL: <a href={{book.url}}>{{book.url}}</a>
                </br>
                </br>
                Description: {{book.description}}
                </br>
                </br>
                Categories: 
                {% for category in book.categories.all %}
                <a href = {% url 'categories' %}> {{category.name}}</a> 
                {% endfor %}
                </br>
                </br>
                Book Added: {{book.created_at}}
                <br>
                <br>
                </br>
            </br>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% endblock %}