{% extends "base.html" %}

{% block content %}

    <div class="categories"><h2>CATEGORIES</h2>
        
        <h3>

        </h3>

        <ul id= "author-list">
            {% for category in categories %}
                <li>
                    {{category.name}}
                <!-- <a href = "{% url 'books_for_author' pk=author.pk %}">{{author.name}}</a> -->
                </br>
                </br>
                
                </br>
                </br>

            {% endfor %}
        </ul>
    </div>
    {% endblock %}