{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FREESHELF</title>
 
</head>

<div class="topnav">
  <h1>FREESHELF</h1>
<!-- </br>
  <h2>
  <a href="/">Home</a>
  <a href="/books">Books</a>
  <a href="/">Authors</a>
  </h2>
</div> -->

{% if request.user.pk != none %}
    <header class="header">
      <h2>  
        <a href="/books">Book List | </a>
        <a href="/">Authors |</a>
        
        <a href="/accounts/logout"> Logout</a>
      </h2>
      </header>
    {% endif %}


<body class="sans-serif pv3 ph2">
  <div class="mw9 center">

    {% block content %}
    {% endblock %}
  </div>
</body>
</html>